<div style="padding-left:100px;">
    <h1>Add Authors</h1>
    
    <form>
    
    <label style="font-size:20px">Id </label>
    <input type = "text" formControlName="Id">
    
    <label style="font-size:20px">Birth Date </label>
    <input type = "date" formControlName="BirthDate">
    
    <label style="font-size:20px">Name </label>
    <input type = "text" formControlName="Name">
    
    <label style="font-size:20px">Nationality </label>
    <input type = "text" formControlName="Nationality">
    
       
    
    <input type = "submit" value="Save Author">
    </form>
     
    </div>
