<html>

<h1 style="font-size:60px" >{{Title}}</h1>

<div style = "float:right">
    <button class="button"> Add Admin</button>
</div>
 
<head>
    <style>
    table,
    th,
    td {
        border: 1px  rgb(255, 251, 0);
        border-collapse: collapse;
    }
    </style>
</head>

<body style="text-align: center">
    <table style="inline-size:95%">
        <thead>
            <tr style="height:120px">
                <th style="width:15%">Id</th>
                <th style="width:20%">Name</th>
                <th style="width:20%">Username</th>
                <th style="width:20%">Password</th>
            </tr>
        </thead>
        
        <tbody style="height:60px">
            <tr *ngFor="let admins of admins">
                <td>{{admins.id}}</td> 
                <td>{{admins.name}}</td>
                <td>{{admins.username}}</td>
                <td>{{admins.password}}</td>
        </tbody>

           
    </table>
</body>
 
</html>

