<div style="padding-left:100px;">
    <h1>Add Students</h1>
    
    <form [formGroup] = "studentsForm" (ngSubmit)="saveStudent()">
    
    <!--<label style="font-size:30px">ID </label>
    <input type = "text" formControlName="Id">-->
    
    <label style="font-size:30px">Name </label>
    <input type = "text" formControlName="name">
    
    <label style="font-size:30px">Department </label>
    <input type = "text" formControlName="department">
    
    <label style="font-size:30px">Roll Number </label>
    <input type = "text" formControlName="rollNumber">
    
    <label style="font-size:30px">Birth Date </label>
    <input type = "date" formControlName="birthDate">
    
    <label style="font-size:30px">Mobile Number </label>
    <input type = "text" formControlName="mobileNumber">
    
    <div>
        <button type="submit">Save</button>
        </div>
        </form>
     
    </div> 

    <h3>  Form Status: {{studentsForm.valid}} </h3>
    <h3>  Form json: {{studentsForm.value | json}} </h3>